$color-button: linear-gradient(229.69deg, #8310F5 3.35%, #01ECFB 103.59%);
$color-cvteg: rgba(37, 99, 235, 0.12);
$color-cvteg-text: #6B717B;
$color-cvteg-text-big: #2563EB;
$color-list:#F8F8F8;
$color-white:#ffffff;
$color-name:#5E5873;
$color-have:#6E6B7B;