%text-style-21px {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
}

%text-style-18px {
  ont-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

%text-style-14px {
  ont-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

%text-style-12px {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}