@import "src/Styles/Colors";


.list {
  background-color: $color-list;
}

@media (max-width: 768px) {
  .list_container_space {
    display: none;
  }
  .list_container_footer_name {
    margin-right: 6px ;
  }

  .list_container_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    margin-right: 10px;
  }
  .list_container_description_content {
  flex-wrap: wrap;


  }
  .list_container_footer {
    flex-wrap: wrap;
  }
}

@media (max-width: 460px) {
  .list_container_footer_text {
    margin-right: 40vw;
  }
}

@media (max-width: 425px) {
  .list_container {
    max-width: 80vw !important;

  }

  .list_container_description_text {
    margin-right: 6px;
  }

}